<div class="container infobar">
  <div class="row">

  </div>
  <div class="row">
    <div class="col">
    <img src="https://www.amaysim.com.au/sites/default/files/2017-04/lock_dash_mint.svg">
      <p><span class= "font-weight-bold"> no lock-in contracts</span>
Freedom to switch your plan or cancel at anytime.<p>
    </div>
    <div class="col">
      <img src="https://www.amaysim.com.au/sites/default/files/2017-04/join_dash_mint.svg">
      <p><span class= "font-weight-bold">simple to join</span>Quick and easy online sign-up, we’ll take care of all the fiddly bits. </p>
    </div>
    <div class="col">
      <img src="https://www.amaysim.com.au/sites/default/files/2017-04/app_dash_mint.svg">
      <p><span class= "font-weight-bold">easy to manage</span>
Download our app or manage your plans online.
</p>
    </div>
  </div>
</div>
