
<div class="jumbotron rounded-0 text-white">
  <div class="container">
    <div class="row">
      <div class="col-8">

        <h1> win a Google Home, Chromecast Ultra and a year of nbn™</h1>
        <p class="lead">Sign up to any nbn plan before 31 August to go into the draw. Plans start from $40 a month.</p>
        <a href="//www.amaysim.com.au/terms-policies/competitions-promos" target="_blank">T&amp;Cs apply</a>
        <a href="#" class="btn button-orange btn-lg active sign-up-btn" role="button" aria-pressed="true">sign up
        <span class="ion-chevron-right"></span>
        </a>
      </div>
      <div class="col-4">
          <img class="button_3" src="https://www.amaysim.com.au/sites/default/files/styles/retina_1x/public/2017-08/Header_Image-nbn-com-2.png?itok=_pwM8VHJ">
      </div>
    </div>
  </div>
</div>








<!-- <div class="jumbotron jumbotron-fluid  rounded 0 text-white">
  <div class="container">
<div class="row align-items-center">
  <div class="col-8">
    <h1> win a Google Home, Chromecast Ultra and a year of nbn™</h1>
      <p>Sign up to any nbn plan before 31 August to go into the draw. Plans start from $40 a month.</p>
   </div>
   <div class="col-4">
    <img src="https://www.amaysim.com.au/sites/default/files/styles/retina_2x/public/2017-08/Header_Image-nbn-com-2.png?itok=cnLdQHJt">

  </div>

</div>
</div>
</div> -->








<!-- <div class="jumbotron jumbotron-fluid">
  <div class="container">
      <div class="row">
<div class= "col-8">

      </div>
    <h1 class="display-3 text-white">win a Google Home, Chromecast Ultra and a year of nbn™</h1>
    <p class="lead text-white">Sign up to any nbn plan before 31 August to go into the draw. Plans start from $40 a month.
T&Cs apply.</p>
  </div>

<div class="col-4">
    <img class="banner" src="https://www.amaysim.com.au/sites/default/files/styles/retina_2x/public/2017-08/Header_Image-nbn-com-2.png?itok=cnLdQHJt">
  </div>
</div> -->
