
<nav class="navbar navbar-expand-lg navbar-light bg-orange">
  <a class="navbar-brand text-white" href="/">amaysim</a>
  <button class="navbar-toggler" type="button" data-toggle="justify-content-end" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
    <ul class="navbar-nav">


      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-white" href="http://example.com" id="navbarDropdownMenuLink " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Plans
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="https://www.amaysim.com.au/plans/mobile-plans">mobile plans</a>
          <a class="dropdown-item" href="https://www.amaysim.com.au/plans/nbn">nbn plans</a>
          <a class="dropdown-item" href="https://www.amaysim.com.au/plans/data-plans">data-only plans</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-white" href="http://example.com" id="navbarDropdownMenuLink " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          about
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="https://www.amaysim.com.au/about/who-we-are"> who we are</a>
          <a class="dropdown-item" href="https://www.amaysim.com.au/about/why-amaysim">why amaysim</a>
          <a class="dropdown-item" href="https://www.amaysim.com.au/about/coverage">check mobile network coverage</a>
          <a class="dropdown-item" href="https://www.amaysim.com.au/about/find-a-store">find a store</a>
          <a class="dropdown-item" href="https://www.amaysim.com.au/blog">Read our blog</a>

        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="#">help</a>

      </li>
    </ul>
  </div>
</nav>
